<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 19px">
    <h1>Files will be ready in minutes</h1>
    <p>Please try to monitor your file in your <span style="color: red">backend</span> console</p>
    <h3 style="color: steelblue; margin-top: 40px">Wait until data is converted and displayed on the console</h3>

    <i style="position: absolute; bottom: 10px"><%= data %> </i>
</body>
</html>